Repository egc-decide-trebujena/decide, pull requests merged in 2022-12, with the labels that each got.

#185 TEST: More model tests
  decide/postproc/tests.py
Labels: test

#213 TEST: ADD TEST THAT VERIFIES PARITY IN A VOTING
  decide/voting/models.py
  decide/voting/tests.py
Labels: test

#218 TEST: ADDED NEW TEST ON POSTPROC AND VOTING
  decide/postproc/tests.py
  decide/voting/models.py
  decide/voting/tests.py
Labels: test

#255 fix: Consider dashboard in actions settings
  .github/workflows/django.yml
  decide/local_settings.gactions.py
Labels: bug

#260 test: Load test Main page
  loadtest/gen_census.py
  loadtest/locustfile.py
Labels: test

#283 FIX: Improve responsivity and fix tests
  decide/authentication/templates/profile.html
  decide/authentication/tests.py
  decide/base/templates/mainpage.html
  decide/base/views.py
  decide/census/templates/census/census.html
  decide/census/templates/census/census_details.html
  decide/census/templates/census/census_reuse_form.html
  decide/census/templates/census/export.html
  decide/census/templates/census/import.html
  decide/census/templates/csv.html
  decide/census/templates/json.html
  decide/census/tests.py
  decide/census/views.py
  decide/dashboard/templates/dashboard/dashboard.html
Labels: enhancement

#320 TEST: Add Load tests for Census
  decide/authentication/form.py
  decide/authentication/models.py
  decide/authentication/templates/profile.html
  decide/authentication/tests.py
  decide/authentication/views.py
  decide/base/templates/base.html
  decide/base/templates/mainpage.html
  decide/base/tests.py
  decide/base/views.py
  decide/booth/templates/booth/booth.html
  decide/census/forms.py
  decide/census/templates/census/census.html
  decide/census/templates/census/census_create.html
  decide/census/templates/census/census_details.html
  decide/census/templates/census/census_grouping.html
  decide/census/templates/census/census_reuse_form.html
  decide/census/templates/census/export.html
  decide/census/templates/census/import.html
  decide/census/templates/csv.html
  decide/census/templates/json.html
  decide/census/tests.py
  decide/census/views.py
  decide/dashboard/templates/dashboard/dashboard.html
  decide/dashboard/templates/dashboard/mainpage_dashboard.html
  decide/dashboard/templates/dashboard_with_pv.html
  decide/visualizer/templates/visualizer/visualizer.html
  loadtest/gen_census.py
  loadtest/locustfile.py
Labels: test

#309 FIX: Unblock makemigrations and redo register form
  decide/authentication/form.py
  decide/census/forms.py
  decide/voting/models.py
Labels: bug
